//Start scss

// Color system

$blue: #00A5B5;
$blue-dark: #069CAB;
$indigo: #292E3F;
$purple: #12141D;
$pink: #f3a4b5;
$red: #f5365c;
$orange: #fb6340;
$yellow: #ffd600;
$green: #2dce89;
$teal: #11cdef;
$cyan: #2bffc6;
$white: #ffffff;
$gray-100: #f6f9fc;
$gray-200: #F2F2F2;
$gray-300: #e3e3e3;
$gray-400: #ced4da;
$gray-500: #EAE6E3;
$gray-600: #6c757d; 
$gray-700: #292E3F; 
$gray-800: #32325d; 
$gray-900: #212529;

// Color

$primary: $blue;
$secondary: $indigo;
$success: #00f2c3;
$info: #1d8cf8;
$warning: #ff8d72;
$danger: #fd5d93;
$black: #222a42;

//End scss

/*CSS*/

*,*:after, *:before{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background-color: $purple !important;
    color: $white;
    overflow-x: hidden;
}

body, html{
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

ul{
    background-color: $primary !important;
}

img {
    width: 100%;
}

ul > li > a{
    color: $white !important;
}

ul > li > a:hover{
    color: $white !important;
    background-color: $secondary !important;
}

html::-webkit-scrollbar {
    background-color: $secondary;
    width: 13px;
}

html::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 20px;
    border: 3px solid $secondary;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 165, 181, 0.5);
    border-radius: 20px;
}

.container {
    max-width: 100%;
}

.container-title {
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
}

.container-title-primary {
    background-color: $secondary;
}

.col-title{
    padding-top: 50px !important;
    text-align: center;
    font-size: 24px;
}

.col-underline-title {
    background-color: $primary;
    height: 3px;
    width: 171px;
    margin: 9px auto;
    margin-bottom: 50px;
}

.row-fluid {
    max-width: 70% !important;
    margin: 0 auto !important;
}

button.btn.btn-primary, a.btn.btn-primary{
    background-color: $primary;
    border-color: $primary;
}

button.btn.btn-light, a.btn.btn-light  {
    background: none;
    color: $white;
}

button.btn.btn-link, a.btn.btn-link {
    color: $primary;
}

.btn-View-Portfolio, .btn-primary-Contacts {
    margin: 50px 0;
}

.btn-View-Portfolio {
    width: 35vh;
}

.btn-primary-Contacts {
    width: 40vh !important;
    margin: 50px auto;
}

.nav-link-primary:hover, .nav-link-primary:active, .nav-link-primary:focus {
    color: $primary !important;
}

.nav-link-secondary:hover, .nav-link-secondary:active, .nav-link-secondary:focus{
    color: $secondary !important;
}

.row {
    width: 100%;
    margin: 0;
}

.col {
    padding: 0;
}

.container-body{
    min-height: calc(100% - 4rem);
}

.ir-arriba {
    display: none;
    padding: 3px;
    text-align: center;
    width: 47px;
    height: 34px;
    background: $primary;
    font-size: 20px;
    color: $secondary;
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 20px;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0px 0px 5px $black;
}

.container-breadcrumb-services {
    padding-top: 15px;
    position: absolute;
}

li.breadcrumb-item > a {
    color: $primary !important;
    text-decoration: none;
}

li.breadcrumb-item > a:hover {
    color:rgb(0, 165, 181, 0.5) !important;
}

/* Loading */

#ContainerLoading{
  background-color: rgba(41, 46, 63, .99);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

#Loading{
    border: 15px solid $gray-600;
    border-top-color: $primary;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: turn 1.5s linear infinite;
    -o-animation: turn 1.5s linear infinite;
    animation: turn 1.5s linear infinite;
}

@keyframes turn{
    from{ transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* search header */

.site-block-top-search {
    position: relative; 
}

.site-block-top-search .icon {
    position: absolute;
    left: 2%;
    top: 50%; 
    color: $secondary;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.site-block-top-search input {
    padding-left: 40px;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; 
}

.site-block-top-search input:focus, .site-block-top-search input:active {
    padding-left: 25px; 
}

/* icon header */

.site-top-icons {
    text-align: right!important;
}

.site-top-icons ul li {
    display: inline-block;
    margin-right: 10px;
}

.site-top-icons ul {
    margin: 0;
    margin-top: 15px;
}

.site-top-icons ul li a.site-cart {
    display: block;
    position: relative;
}

.site-top-icons ul li a {
    text-decoration: none !important;
}

.site-top-icons ul > li > a:hover {
    color: $secondary !important;
    background: none !important;
}

.site-top-icons ul li a.site-cart .count {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -15px;
    margin-top: -20px;
    font-size: 13px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    display: block;
    text-align: center;
    background: $secondary;
    color: $white;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
}

/* header-1 */

.navbar-menu-floating {
    position: none;
    background: none;
}

.navbar-light .navbar-toggler {
    color: $white;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-header-1 {
    background-color: $indigo !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-header-1, .navbar-light .navbar-text, .navbar-light .navbar-nav .nav-link {
    color: $white !important;
}

li.nav-item.dropdown {
    color: $white !important;
}

.nav-link {
    color: $white;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: $primary !important;
}

.navbar-Languages {
    justify-content: flex-end;
}

/* header-2 */

nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-header-2 {
    background-color: $primary !important;
}

.Logo {
    width: 10rem;
}

html#ecwid_html body#ecwid_body .ec-minicart--m .ec-minicart__counter::after {
    background: $white !important;
    color: $primary !important;
}

.col-header-2-Img{
    padding-left: 0;
}

/* header-3 */

nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-header-3 {
    background-color: $blue-dark !important;
}

.Logo {
    width: 10rem;
}

.ecwid-search-widget__input {
    border-radius: 4px !important;
}

.ecwid-search-widget-icon {
    fill: $primary !important;
}

.ec-cart-widget {
    display: flex;
    justify-content: flex-end;
}

/* Bot */

#hubspot-messages-iframe-container.widget-align-right {
    margin-bottom: 30px;
    z-index: 100 !important;
}

/* pagination */

.pagination.pagination-lg {
    justify-content: center;
    margin: 50px 0;
    background-color: rgb(0, 165, 181, 0) !important;
}

.page-link {
    background-color: rgba(255, 99, 71, 0);
}

.page-item.active > a {
    background-color: $primary !important;
    border-color: $white !important;
}

.pagination-deactivated {
    display: inherit ;
}

.pagination-deactivated {
    display: none ;
}

/* modal */

.col-modal-section{
    margin: auto;
}

.modal-dialog {
    max-width: 90%;
    margin: 1rem auto;
}

.modal-body > img {
    width: 100% !important;
    overflow: hidden;
    object-fit: cover;
    height: 80vh;
    margin: auto;
}

.modal-header, .modal-footer {
    border-bottom: $secondary;
    border-top: $secondary;
}

.btn-close {
    background: transparent url(https://cdn.glitch.com/23f2e91e-8a81-476d-bf57-37b1db51c6a4%2Fwhite_x.png?v=1632856179380) center/1em auto no-repeat;
}

.popupContent {
    background: $secondary !important;
    border: none !important;
    color: $white !important;
}

.grid-product__price-value.ec-price-item,.grid-product__title-inner {
    color: #fff !important;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid-product__title-inner {
    color: #fff !important;
}

html#ecwid_html body#ecwid_body div.ecwid-productBrowser {
    background: none !important;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-link--muted, html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-link--muted:visited {
    color: #fff !important;
    transition: color .12s ease-out 0s;
}

/* Modal Portfolio Gallery*/

.col-modal-logo {
    margin: 50px 40%;
}

.col-img-modal{
    padding: 5%;
}

.img-modal {
    border-radius: 7px;
}

.title-modal-section {
    font-size: 20px;
}

.modal-content {
    background-color: $secondary;
}

.Paragraph-modal-section {
    font-size: 14px;
}

.img-modal-2 {
    padding: 0 30%;
}

/* Cover Home */

.Col-Cover-Home {
    position: relative;
}

.container-Cover-Title {
    margin: auto auto;
    color: $gray-200;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Cover-Home-Title {
    margin-bottom: 10%;
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
}

.Cover-Home-Title-Img {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 75%;
    color: $primary;
    text-align: center;
    -webkit-transform: rotate(-90deg);
    font-weight: 800;
    height: 0px;
    font-size: 3.9vw;
}

.bt-Cover-Home{
    width: 15vw;
    font-size: 1vw;
}

/* Introductory Text */

.row-introductory-text {
    padding: 69px 15px;
    background-color: $gray-500;
}

.col-introductory-text {
    text-align: center;
    color: $black;
    font-size: 18px;
}

.underlined-introductory-text {
    display: inline;
    background-color: $primary;
    color: $white;
    margin: 0 2px;
}

.marking-introductory-text{
    display: inline;
    color: $primary;
    margin: 0 2px;
}

/* Service Categories */

.container-Service-Categories{
    background-color: $secondary;
}

.col-Service-Categories {
    padding: 75px;
}

.row-Service-Categories {
    text-align: center;
}

.Service-Categories-Icon{
    font-size: 36px;
}

.Service-Categories-title{
    font-size: 24px;
}

.Service-Categories-paragraph{
    font-size: 14px;
}

/* Service My Work */

.col-My-Work {
    border-radius: 7px;
    background-size: cover;
    justify-content: center;
    display: inline-block;
    position: relative;
    text-align: center;
}

.col-My-Work-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 93%;
    background-color: rgb(41, 46, 63, 0.7);
    opacity: 0%;
    transition-duration: 1s;
}

.col-My-Work-info:hover {
    opacity: 100%;
}

.Titel-My-Work {
    font-size: 18px;
    margin-top: 40%;
}

.Paragraph-My-Work {
    font-size: 13px;
}

/* About Us */

.col-About-Us-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.col-About-Us-img > img {
    width: 25%;
    margin: 50px;
}

.col-About-Us-title {
    padding-top: 50px;
    text-align: center;
    font-size: 36px;
}

.col-underline-title-About-Us {
    background-color: $primary;
    height: 3px;
    width: 171px;
    margin: 9px auto;
}

.col-About-Us-title-paragraph{
    font-size: 18px;
    text-align: center;
}

.row-About-Us-paragraph {
    text-align: center;
    padding: 25px 0;
    font-size: 18px;
}

/* Service */

.container-Service{
    padding: 25px;
}

.container-Service-secondary{
    padding: 25px;
    background-color: $secondary;
}

.title-Service, .Subtitle-Service, .paragraph-Service{
    padding: 15px 0;
}

.title-Service {
    font-size: 24px;
}

.Subtitle-Service {
    font-size: 18px;
}

.paragraph-Service {
    font-size: 14px;
}

.btn-primary {
    width: 235px;
}

.img-fluid.img-Service {
    margin: 15px;
}

.col-Service-list > div > .fa-check-circle {
    position: absolute;
    margin-left: -25px;
    margin-top: 5px;
    color: $primary;
}

.title-Service-list {
    font-size: 20px;
}

.paragraph-Service-list {
    font-size: 14px;
    margin: 20px 0;
}

.col-Service {
    padding: 25px 0;
}

/* Portfolio Filter Gallery */

.filter-gallery {
    top: 2em;
    text-align: left;
}

.filter-gallery > img{
    width: 30%;
}
  
.filter-gallery img {
    margin: 1em;
}

.tech, .arch, .nature {
    transition-timing-function: ease;
    transition-duration: 1s;
}

.col-filter-category  {
    text-align: center;
    margin: 50px 11px;
}

.col-filter-category > a {
    color: $white !important;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}

.col-filter-category:hover  {
    border-bottom: 3px solid $primary;
}


.col-filter-category > a:hover {
    color: $primary !important;
}

.activo-filter{
    border-bottom: 3px solid $primary;   
}

.activo-filter > a {
    color: $primary !important;
}

.col-My-Work-deactivated{
    display: none !important;
}

/* ContactsUs */

.Cover-ContactsUs{
    margin: 50px 0; 
}

#Form-ContactsUS {
    margin: 50px 0;
}

select:invalid {
    border: 0.5px solid $red !important;
}

input:invalid, textarea:invalid{
    border: 0.5px solid $red;
}
  
input:focus:invalid, textarea:focus:invalid{
    outline: none;
}

input:valid, textarea:valid{
    border: 0.5px solid $primary; 
}

.form-label:after {
    content:"*";
    color: $red;
}

.form-label-ContactsUs {
    color: $primary;
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
}

.btn-Form-ContactsUS {
    margin-top: 35px;
    margin-right: 5px;
    margin-left: 5px;
    width: 40%;
}

.Paragraph-required {
    font-size: 12px;
}

.label-ContactsUs {
    color: $primary;
    font-size: 14px;
}

.btn-ContactsUs{
    color: $white !important;
    text-decoration: none;
}

.Col-Social-Media {
    margin-top: 10px;
}

.Col-Social-Media> a {
    list-style: none;
    color: #ffffff;
    opacity: 40%;
    font-size: 20px;
    margin-right: 20px;
}

/* Store */

.ecwid-popup {
    top: 50px !important;
}

.ec-footer__row {
    background: none !important;
}

li.ec-footer__cell > a {
    color: $primary !important;
}

li.ec-footer__cell > a:hover {
    background: none !important;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control--checkbox-button .form-control__inline-label label:active, html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control--checkbox-button .form-control__checkbox:checked ~ .form-control__inline-label label, html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control--checkbox-button .form-control__radio:checked ~ .form-control__inline-label label {
    background-image: none !important;
    border-color: $primary !important;
    background-color: $primary !important;
    color: $white !important;
}

.form-control__button, .ecwid-btn {
    background: $primary !important;
}

.row-Store {
    margin-top: 25px !important;
}

.ecsp {
    border-radius: 7px !important;
    background-size: cover !important;
    justify-content: center !important;
    position: relative !important;
    text-align: center !important;
    padding: 0 !important;
}

.info-Product:hover {
    opacity: 100% !important;
}

.info-Product {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    height: 100% !important;
    width: 100% !important;
    background-color: rgba(41, 46, 63, 0.7) !important;
    opacity: 0% !important;
    transition-duration: 1s !important;
}

.ecwid-SingleProduct-picture {
    margin: 0 !important;
}

.ecsp-title {
    margin-top: 30% !important;
}

/* Footer */

.container-Footer{

    color: $white;
    text-align: center;

}

.container-Footer-1 {
    background-color: $secondary !important;
}

.container-Footer-2 {
    background-color: $primary !important;
}

.Col-Footer-1{
    margin: 20px 0;
}

.row-Footer-2{
    font-size: 14px;  
    padding: 15px 0px;
}

.Col-Contacts-Us-Footer-1{
    font-size: 18px;
}

.Col-Description-Footer-1{
    font-size: 14px;
}

.Col-Social-Media-Footer-1 > a{
    list-style: none;
    color: $white;
    opacity: 40%;
    font-size: 48px;
    margin: 0 30px;
}

.Col-Social-Media-Footer-1 > a:hover{
    color: $primary;
    opacity: 40%;
    transition: color .15s 
                ease-in-out,background-color .15s 
                ease-in-out,border-color .15s 
                ease-in-out;
}


@media only screen and (min-width: 991px) {
    
/* Portfolio Filter Gallery */

.col-My-Work {
    flex: none;
    width: 33.2% !important;
    margin: 25px auto;
}

}

@media only screen and (max-width: 991px) {

.row-fluid {
    max-width: 95% !important;
}

.navbar-menu{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    z-index: 1000;
    background: $primary;
    height: 100vh;
    overflow-y: auto;
}

.nav-item {
    text-align: center;
    padding: 10px 0;
}

.navbar-light .navbar-toggler {
    border-style: none;
}

.dropdown-menu {
    margin: 0 auto;
    position: inherit;
    width: 90%;
    border-style: none;
    text-align: center;
    background-color: $secondary !important;
}

.dropdown-menu > li > a {
    padding: 10px 0;

}

/* Portfolio Filter Gallery */

.col-My-Work {
    flex: none;
    width: 40.2% !important;
    margin: 25px auto;
}

}

@media only screen and (max-width: 700px) {

/* header-2 */

.col-sm-6.col-header-2 {
    order: 2;
}

.col-header-2-cart {
    position: absolute !important;
    margin-bottom: 45px;
    margin-left: -70px;
}

.col-header-2-search {
    margin-top: 20px;
}

/* Portfolio modal */

.modal-body > img {
    width: 100% !important;
    margin: 0 auto;
}

.img-modal-2 {
    padding: 0 10%;
}
    
.col-edit-position{
    order: 2;
}

/* Portfolio Filter Gallery */

.col-My-Work {
    flex: none;
    width: 100% !important;
    margin: 25px auto;
}

/* ContactsUs */

.btn-Form-ContactsUS {
    width: 100%;
}
    

}